<template>
  <div class="login">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="box">
          <h1 class="title">Login</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
};
</script>
