<template>
  <div class="register">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="box">
          <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <h1 class="title">Register</h1>
            </div>
          </div>
          <!-- Name -->
          <div class="field is-horizontal">
            <div class="field-label">
              <label for="name" class="label">Name</label>
            </div>
            <div class="field-body">
              <input class="input" type="text" name="name" id="name" v-model="form.name">
            </div>
          </div>
          <!-- Email -->
          <div class="field is-horizontal">
            <div class="field-label">
              <label for="email" class="label">email</label>
            </div>
            <div class="field-body">
              <input class="input" type="email" name="email" id="email" v-model="form.email">
            </div>
          </div>
          <!-- Password -->
          <div class="field is-horizontal">
            <div class="field-label">
              <label for="password" class="label">Password</label>
            </div>
            <div class="field-body">
              <input
                class="input"
                type="password"
                name="password"
                id="password"
                v-model="form.password"
              >
            </div>
          </div>
          <!-- Confirm Password -->
          <div class="field is-horizontal">
            <div class="field-label">
              <label for="confirm-password" class="label">Confirm Password</label>
            </div>
            <div class="field-body">
              <input
                type="password"
                class="input"
                name="confirm-password"
                id="confirm-password"
                v-model="form.confirmPassword"
              >
            </div>
          </div>
          <!-- Submit -->
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary" @click="submit">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from '../UserService';

export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
      },
    };
  },

  methods: {
    submit() {
      UserService.post(this.form)
        .then((res) => {
          Object.keys(this.form).forEach((key) => {
            this[key] = null;
          });
          console.log(res);
        });
    },
  },
};
</script>
