<template>
  <div class="Game">
    <main class="bd-main">
      <div class="bd-side-background"></div>
      <div class="container">
        <div class="bd-duo">
          <aside class="bd-side">
            <section class="section">
              <score-board/>
            </section>
          </aside>
          <div class="bd-lead">
            <section>
              <div class="level">
                <button class="button" @click="startGame">Run</button>
                <div class="box level">
                  SCORE: <h1 class="title" style="margin-left: 10px">{{score}}</h1>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="columns is-multiline">
                <hole v-for="hole in holes" :key="hole">{{hole}}</hole>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import store from '@/store';
import ScoreBoard from './ScoreBoard.vue';
import Hole from './Hole.vue';
import ScoreService from '../ScoreService';

export default {
  components: {
    Hole,
    ScoreBoard,
  },

  methods: {
    randomTime(min, max) {
      return Math.round(Math.random() * (max - min) + min);
    },
    chooseHole() {
      const hole = Math.ceil(Math.random() * this.holes);
      if (hole === this.last) {
        return this.chooseHole();
      }
      return hole;
    },
    run() {
      const time = this.randomTime(200, 1000);
      const hole = this.chooseHole();
      store.dispatch('chooseHole', { hole });
      setTimeout(() => {
        if (!store.state.gameOver) {
          return this.run();
        }
        return ScoreService.post(this.score);
      }, time);
    },
    startGame() {
      store.dispatch('newGame');
      this.run();
      setTimeout(() => {
        store.dispatch('endGame');
      }, 10000);
    },
  },

  computed: {
    score() {
      return store.state.score;
    },
    holes() {
      return store.state.holesCount;
    },
    chosen() {
      return store.state.chosenHole;
    },
    last() {
      return store.state.lastHole;
    },
  },
};
</script>

<style lang="sass" scoped>
.bd-side-background
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #e9f2f5
  @media screen and (min-width: 769px)
    left: 50%

.bd-duo
  display: block
  @media screen and (min-width: 769px)
    display: flex
    flex-flow: row-reverse

.bd-lead
  margin-left: -3m
  padding: 3em
  background-color: white
  flex: 1

.bd-side
  padding: 3rem 0 3rem 1.5rem
</style>
