<template>
  <div class="Hole column is-one-third">
    <mole :index="moleKey"></mole>
    <img src="../assets/ground.png" alt="" class="ground">
  </div>
</template>

<script>
import Mole from './Mole.vue';

export default {
  components: {
    Mole,
  },
  data() {
    return {
      moleKey: this.$vnode.key,
    };
  },
};
</script>

<style lang="sass">
.Hole
  height: 300px
  overflow: hidden
  position: relative
  .ground
    position: absolute
    bottom: 0
    left: calc(50% - 108px)
</style>
