<template>
  <div class="Mole" :class="{'is-peeking': isChosen}">
    <img
      src="../assets/mole.png"
      alt=""
      @click="hit"
      draggable="false"
    >
    <!-- <button class="Mole" :class="{'is-peeking': isChosen}" @click="hit">Hit Me</button> -->
  </div>
</template>

<script>
import store from '@/store';

export default {
  props: ['index'],
  data() {
    return {
      isHit: false,
    };
  },
  methods: {
    hit() {
      if (this.index !== this.lastMoleHit) {
        store.dispatch('incrementScore', this.index);
      }
    },
  },

  computed: {
    score() {
      return store.state.score;
    },
    isChosen() {
      return store.state.chosenHole === this.index;
    },
    lastMoleHit() {
      return store.state.lastMoleHit;
    },
  },
};
</script>

<style lang="sass">
.Mole
  position: absolute
  bottom: -100%
  left: calc(50% - 61px)
  cursor: pointer
  transition: bottom 0.3s linear
  &.is-peeking
    bottom: 0%
</style>
