<template>
  <div class="scoreBoard">
    <h2 class="subtitle">High Scores</h2>
    <ol v-if="scores">
      <li
        v-for="score in scores"
        v-text="score.score"
        :key="score._id"
      ></li>
    </ol>
  </div>
</template>

<script>
import store from '@/store';
import ScoreService from '../ScoreService';

export default {
  name: 'scores',
  async created() {
    try {
      store.dispatch('setScores', await ScoreService.get());
    } catch (err) {
      console.log(err);
    }
  },

  computed: {
    scores() {
      return store.state.scores;
    },
  },
};
</script>
