<template>
  <div id="app">
    <nav id="nav" class="navbar has-shadow" role="navigation">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <router-link to="/" class="navbar-item">Home</router-link>
            <router-link to="/about" class="navbar-item">About</router-link>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <router-link to="/register" class="button is-primary">Sign Up</router-link>
                <router-link to="/login" class="button is-light">Log In</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="sass">
.router-link-exact-active
  border-bottom: 2px solid blue
</style>
